<div class="pl-100 pr-10">
    <div class="pt-5 pb-5">
      <p class="text-gray-400">Bosh sahifa > Kurslar > Angular</p>
    </div>
    <!-- hgbh -->
    <div class="flex items-start gap-5 relativa">
      <div
        class="wrap flex items-center justify-center bg-cover bg-center w-[800px] h-[500px]"
      ></div>
      <div
        class="bg-white w-[400px] h-[600px] absolute right-45 p-5 shadow-md hover:shadow-xl transition-shadow flex flex-col"
      >
        <div class="w-full h-50 bg-gray-200 mb-4">video uchun</div>
        <h2 class="text-3xl font-bold mb-4">
          <span class="text-xl font-semibold">Kurs narxi: </span> 20 $
        </h2>
        <span class="text-xl font-semibold">Kurs O'qituvchisi:</span>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          laudantium incidunt quam dolor, illo porro voluptatibus unde? Minima
          adipisci itaque esse, autem vitae aperiam odit ipsam dolore provident
          ipsum alias.
        </p>
        <button 
        routerLink="/cursid"
          class="text-white pt-3 pb-3 pr-5 pl-5 border border-blue-400 rounded-lg bg-blue-400 font-bold w-full mt-auto hover:bg-white hover:text-blue-400"
        >
          Kursni boshlash
        </button>
      </div>
    </div>
    <div class="gap-5 flex flex-col">
      <h3 class="font-semibold text-3xl mb-5 mt-4">Kurs haqida</h3>
      <div class="bg-gray-50 p-5 rounded-lg">
        <h4 class="font-semibold text-2xl mb-5">Kursning mazmuni</h4>
        <ul class="flex items-start gap-[60px]">
          <li>
            <i class="fa-solid fa-bars text-xl"></i>
            <p class="font-semibold text-xl">Modullar soni</p>
            <p class="text-xl font-semibold">4</p>
          </li>
          <li>
            <i class="fa-solid fa-tv text-xl"></i>
            <p class="font-semibold text-xl">Darslar soni</p>
            <p class="text-xl font-semibold">28</p>
          </li>
          <li>
            <i class="fa-solid fa-calendar-days text-xl"></i>
            <p class="font-semibold text-xl">Kurs davomiyligi</p>
            <p class="text-xl font-semibold">16 soat 50 daqiqa</p>
          </li>
        </ul>
      </div>
      <div class="bg-gray-50 p-5 rounded-lg">
        <h4 class="font-semibold text-2xl mb-5">Nimalarni o'rganasiz?</h4>
        <ul
          class="grid grid-cols-3 gap-3"
        >
          <li class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-xl text-blue-400"></i>
            <p class="text-xl">Service</p>
          </li>
          <li class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-xl text-blue-400"></i>
            <p class="text-xl">Angular Forms</p>
          </li>
          <li class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-xl text-blue-400"></i>
            <p class="text-xl">Ng Zorro</p>
          </li>
          <li class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-xl text-blue-400"></i>
            <p class="text-xl">CRUD</p>
          </li>
          <li class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-xl text-blue-400"></i>
            <p class="text-xl">Type Script</p>
          </li>
          <li class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-xl text-blue-400"></i>
            <p class="text-xl">Pipes</p>
          </li>
          <li class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-xl text-blue-400"></i>
            <p class="text-xl">Routes</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  