
<div class="flex items-start gap-5 lg:pr-10 p-5">
    <div class="lg:pl-6 lg:pt-4 pt-5">
        <i class="fa-solid fa-bars"></i>
     <h3 class="pl-2 mb-3 text-2xl lg:block hidden">Angular darslari</h3>
     <ul class="max-w-80 overflow-y-auto h-200 lg:block hidden">
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>
        <li class="flex items-center pt-3 pb-3 pl-2 hover:bg-gray-100 gap-2">
            <i class="fa-solid fa-circle-check text-xs leading-[14px]"></i>
            <p class="text-xs">Angular haqida boshlang'ich tushunchalar</p>
        </li>

     </ul>
    </div>
    <div class=" w-full ">
        <div class="pt-5 pb-5">
            <p class="text-gray-400">Bosh sahifa > Kurslar > Angular</p>
          </div>
          <video class="w-full 2xl:h-190 bg-yellow-100 rounded-2xl md:h-160 sm:h-[500px] h-[240px]" src=""></video>
           <!-- bu yerga video joylanadi -->
          <!-- <iframe width="100%" height="700" style="border-radius: 20px;" src="https://www.youtube.com/embed/MPduddgZqQs?si=Xbc6-9jwk55lCQvy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
    </div>
</div>
